{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <header class="row">
            <div class="col-12 col-md-6" id ="header-text">
                <h2>What is your dream destination? Let us help you reach it!</h2>
                <h5>We will help you create a perfect, hassle-free itinerary so you can enjoy your vacation to the fullest.</h5>
                <div>
                    <button class="btn btn-primary">Explore Destinations</button>
                    <button class="btn btn-primary">Travel Today</button>
                </div>
            </div>
<!-- Header image area -->
            <div class="col-12 col-md-6">
                <img src="../../static/images/undraw_travel_plans_li01.svg" alt="travel image" class="header-image">
            </div>
        </header>
<!-- Start of middle section -->
        <section class="row">
            <div class="col-12" id="middle-text">
                <h2>Join Our Community!</h2>
                <p>Sign up, meet other travel lovers, get travel tips, and share your explorations!</p>
            </div>
        </section>
<!-- Start of Features Section -->
        <section class="row" id="features-section">
            <div class="col-12 col-md-4">
                <img src="../../static/images/airplane.png" alt="Airplane" id="plane-image">
                <h4>Book a Flight</h4>
                <p>Let us help you find the best price, route, and airline for your travel.</p>
            </div>
            <div class="col-12 col-md-4">
                <img src="../../static/images/car-logo.png" alt="Car" id="car-image">
                <h4>Car Rental</h4>
                <p>Need to rent a car? We'll find the best deal in any city.</p>
            </div>
            <div class="col-12 col-md-4">
                <img src="../../static/images/hotel.png" alt="Hotel" id="hotel-image">
                <h4>Find the Perfect Place to Stay</h4>
                <p>Find the right hotel, AirBnB, or local host to meet your every need.</p>
            </div>
        </section>
    </div>
{% endblock content %}